@media (max-width: 960px) {
	
	.wrapper {
		width: 100%;
	}
	
	
	.main-header {
		height: auto;
	}
	.main-header__reason {
		display: block;
		width: 340px;
		height: auto;
		margin: 0 auto;
		margin-top: 50px;
	}
	.main-header__reason-head {
		font-size: 32px;
		line-height: 33px;
	}
	.main-header__reason-text {
		font-size: 20px;
		line-height: 26px;
		margin-top: 40px;
	}
	
	
	
	
	.main-header__form-block {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	
	.info__head {
		margin-bottom: 30px;
	}
	.info__list {
		display: block;
		margin: 0 auto;
	}
	
	
	
	
	.author {
		background: none;
		padding: 0;
		height: auto;
	}
	.author__photo {
		display: block;
		margin: 60px auto;
	}
	.author__list {
		display: block;
		margin: 0 auto;
	}
	.author__booking {
		margin: 50px auto;
	}
	
	
		
	
	
}


@media (max-width: 625px) {
	
	.author__booking {
		width: 90%;
		height: auto;
		padding: 20px 10px;
		line-height: 24px;
	}
	
	
	
	
	
	.main-header__thank-you {
		font-size: 34px;
		line-height: 43px;
		width: 100%;
	}
	.main-header__invitation {
		font-size: 24px;
		line-height: 24px;
		width: 100%;
	}
	.main-header__more-lessons {
		font-size: 18px;
		line-height: 20px;
		width: 100%;
		margin-top: 40px;
	}
	
}


@media (max-width: 505px) {
	
	.main-header__form-block {
		width: 340px;
	}
	.main-header__form-head {
		font-size: 18px;
	}
	.main-header__form-text {
		font-size: 14px;
	}
	.main-header__input-wrap {
		width: 242px;
	}
	.main-header__mail {
		width: 178px;
	}
	.main-header__submit {
		width: 242px;
	}
	
	
	
	
	.author__photo {
		width: 100%;
		height: auto;
		font-size: 0;
	}
	
	
	
	
	.main-footer__facebook {
		max-width: 340px;
	}
	
	
	
}


















